<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExpansesWPF.Properties.Settings.ExpansesConnectionString2"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Expanses;User ID=admin;Password=Admin12345678;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>